
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: teployments.shahin.oka.com
spec:
  group: shahin.oka.com
  names:
    kind: Teployment
    listKind: TeploymentList
    plural: teployments
    singular: teployment
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Teployment describes a teployment.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TeploymentSpec is the spec for a teployment resource
            properties:
              containerPort:
                type: integer
              image:
                type: string
              nodePort:
                type: integer
              replicas:
                default: 1
                format: int32
                type: integer
              serviceType:
                type: string
            required:
            - containerPort
            - image
            - serviceType
            type: object
          status:
            properties:
              observedGeneration:
                description: observedGeneration is the most recent generation observed for this resource. It corresponds to the resource's generation, which is updated on mutation by the API Server.
                format: int64
                type: integer
              phase:
                description: Specifies the current phase of the teployment
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
